{% extends "Layout.html" %}
{% block content %}

<div class="col-md-12"><!--md-3-->
  <div class="card">
      <div class="card-body">
          <div class="h5">Categories</div>
          
          <div class="h7">
              {% for genre in genres -%}
                  <a href="{{url_for('files.files_bygenre', category=genre.title)}}">
                      <span class="badge badge-primary">
                          {{genre.title}}
                      </span>
                  </a>
              {% endfor %}
          </div>
          
      </div>
    
  </div>
</div>


<div class="col-md-12">
  <div class="row">
    <div class="card-body">
    {% for file in files.items %}
      <div class="card" style="width: 10rem; height:14rem;">
          <img class="card-img-top" style="height:8rem; width:10rem;" src="{{url_for('files.serve_image', img_id=file.img_id)}}" alt="Card image cap">
          <div class="card-body">
              <a href="{{ url_for('files.file', file_id=file.id) }}"><p class="h7 text-muted">{{file.title}}</p></a>
              
             
          </div>
         <!-- <a href="#" class="btn btn-primary"  style="width: 4rem; height:2rem;">Download</a>-->
      </div>
   {% endfor %}
  </div>
</div>        

<!--
<div class="col-m-12">
  <div class="row">

  {% for file in files.items %}
      <div class="card-pdf">
          <div class="card" style="width: 12rem; height:12rem;">
              <img class="card-img-top" src="{{url_for('files.serve_image', img_id=file.img_id)}}" alt="Card image cap">
              <div class="card-body">
                  <a href="{{ url_for('files.file', file_id=file.id) }}">
                      <h6 class="card-title">{{file.title}}</h6>
                  </a>
              
              </div>
          </div>
      </div>    
  {% endfor %}  
  </div>
</div> 
-->
<!--
<div class="col-m-12">
      <div class="row">
      {% for file in files.items %}
          <div class="card" style="width: 14rem; height:14rem;">
              <div class="card-body">
                  <a href="{{ url_for('files.file', file_id=file.id) }}">
                      <h6 class="card-title">{{file.title}}</h6>
                  </a>
                  <div class="imagecover">
                      <img class="cover" src="{{url_for('files.serve_image', img_id=file.img_id)}}">
                  </div>
              </div>
          </div>
      {% endfor %}  
      </div>
  </div>--> 
<div class="col-md-12">
  {% for page_num in files.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
          {% if files.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('files.files_bygenre', category=genre.title, page=page_num) }}">{{ page_num }}</a>
          {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('files.files_bygenre', category=genre.title, page=page_num) }}">{{ page_num }}</a>
          {% endif %}
      {% else %}
          ...
      {% endif %}
  {% endfor %}
</div>          


{% endblock content %}