{% extends "Layout.html" %}
{% block content%}
{{ share.load() }}

  <div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{file.title | safe }}</h1></div>
    	
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img class="" src="{{url_for('files.serve_image', img_id=file.img_id)}}" class="avatar img-circle img-thumbnail" alt="avatar">
        
      </div></hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading">{{file.auteur}}</div>
            
          </div>
          
         
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                
              <p class="article-content">{{ file.description | safe }}</p>
              <a href="{{url_for('files.download', file_id=file.id)}}" class="btn btn-primary fa fa-download"  style="width: 8rem; height:3rem;">
                Download {{ file_size }} MB 
              </a>
                {{ share.create(title='Share via: ') }}  

                </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
            </div>  
        </div>                             
    </div>
</div>    

{% endblock content %}